include ./components/toggle/toggle 
include ./components/input/input

mixin config-panel
  form.config-panel
    .config-panel__inputs
      each item in ["min", "max", "step", "scaleSize"]
        +input({title: item})
      +input({title: "from", className: "js-dw-slider__input_from"})
      +input({title: "to", className: "js-dw-slider__input_to"})
      
    
    .config-panel__toggles
      each item in ["vertical", "double", "scale", "progress", "tip"]
        +toggle({title: item})