include ./components/toggle/toggle 
include ./components/input/input

mixin config-panel
  form.config-panel
    .config-panel__inputs
      +input({title: "min"})
      +input({title: "max"})
      +input({title: "step"})
      +input({title: "from", className: "dwSlider__input_from"})
      +input({title: "to", className: "dwSlider__input_to"})
      +input({title: "scaleSize"})
    
    .config-panel__toggles
      +toggle({title: "vertical"})
      +toggle({title: "double"})
      +toggle({title: "scale"})
      +toggle({title: "progress"})
      +toggle({title: "tip"})