.slider
//- .slider__container
  .slider__line
    .slider__progress-line
      .slider__round  

  .slider__labels
    span.slider__initial-label.
      0

    span.slider__final-label.
      100

  input(type="text" class="slider__input" )


  //- button(class="orientation-button")
  //-   |повернуть

  