.toggle {
  display: flex;
  margin: 5px;
  align-items: center;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  border: 2px solid rgb(102, 93, 93);
  cursor: pointer;
  &::before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background: rgb(102, 93, 93);
  }
}

.toggle:checked{
  border: 2px solid #BC9CFF;
  &::before{
    margin-left: 18px;
    background: #BC9CFF;
  }
}
.toggle_color_primary:checked{
  border-color: #8fd9a8;
  &::before{
    background: #8fd9a8;
  }
}
.toggle_color_secondary:checked{
  border-color: #a3ddcb;
  &::before{
    background: #a3ddcb;
  }
}
.toggle_color_tertiary:checked{
  border-color: #a6f0c6;
  &::before{
    background: #a6f0c6;
  }
}
.toggle_color_quaternary:checked{
  border-color: #ff8e71;
  &::before{
    background: #ff8e71;
  }
}


.toggle__title{
  margin: 5px 0;
  font-family: Roboto, sans-serif;
}
.toggle__label{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
}
