.toggle {
  display: flex;
  margin: 5px;
  align-items: center;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  border: 2px solid rgb(102, 93, 93);
  cursor: pointer;
  &::before {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background: rgb(102, 93, 93);
  }
}

.toggle:checked{
  border: 2px solid #8fd9a8;
  &::before{
    margin-left: 18px;
    background: #8fd9a8;
  }
}

.toggle__title{
  margin: 5px 0;
  font-family: Roboto, sans-serif;
}
.toggle__label{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  cursor: pointer;
}
