.range-slider__input{
  &:focus {
    outline: none;
  }
}
html {
  overflow-y: scroll; 
}

.range-slider__wrapper{
  display: flex;
  flex-direction: column;
}
.range-slider__line{
  position: relative;
  cursor: pointer;
}
.range-slider__thumb{
  position: absolute;
  z-index: 2;
}
.range-slider__progress{
  position: absolute;
  z-index: 1;
}
.range-slider__scale-number{
  position: absolute;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.range-slider__satellite{
  position: absolute;
  font-family: Roboto, sans-serif;
}



