$thumb-height: 20px;
$line-height: 10px;
$line-border-radius: 10px;

.range-slider__wrapper{
  // transform: rotate(-90deg);
  width: 300px;
  margin: 200px 200px;
}

.range-slider__line{
  position: relative;
  margin: 0 20px;
  height: $line-height;
  border-radius: $line-border-radius;
  background: rgb(238, 198, 238);
  cursor: pointer;
}
.range-slider__thumb{
  position: absolute;
  top: -$thumb-height/4;
  width: 20px;
  height: $thumb-height;
  background: indigo;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.range-slider__thumbExtra {
  position: absolute;
  top: -$thumb-height/4;
  width: 20px;
  height: $thumb-height;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background: rgb(23, 19, 218);
} 
.range-slider__progress{
  position: absolute;
  top: 0;
  height: $line-height;
  background: rgb(153, 60, 153);
  border-radius: $line-border-radius;
  z-index: 1;
}

.js-slider3 {
  .range-slider__line{
    background: paleturquoise;
  }
  .range-slider__thumb{
    background: darkblue;
  }
  .range-slider__progress{
    background: darkcyan;
  }
} 
.range-slider__scale{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.range-slider__scale-number{
  min-width: 30px;
  max-width: 45px;
  padding: 10px 0;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  text-align: center;
}

.range-slider__satellite{
  position: absolute;
  top: -30px;
  height: 20px;
  min-width: 20px;
  background: palegoldenrod;
  font-family: Roboto, sans-serif;
  border-radius: 5px;
  text-align: center;
  padding: 0 3px;
}