$thumb-height: 20px;
$line-height: 10px;
$line-border-radius: 10px;
.range-slider__wrapper{
  margin: 10px 50px
}
.range-slider__line{
  position: relative;
  margin: 0 20px;
  height: $line-height;
  border-radius: $line-border-radius;
  background: rgb(238, 198, 238);
  cursor: pointer;
}
.range-slider__thumb{
  position: absolute;
  top: -$thumb-height/4;
  width: 20px;
  height: $thumb-height;
  background: indigo;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.range-slider__progress{
  position: absolute;
  top: 0;
  height: $line-height;
  background: rgb(153, 60, 153);
  border-radius: $line-border-radius;
  z-index: 1;
}
.range-slider__scale{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.range-slider__scale-number{
  min-width: 30px;
  max-width: 45px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  // background: paleturquoise;
  text-align: center;
}