.input_container{
  display: flex;
  position: relative;
  margin: 5px;
}
.input_title{
  min-width: 35px;
  background: rgb(102, 93, 93);
  color: rgb(245, 247, 222);
  font-family: Roboto, sans-serif;

  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input_field{
  -webkit-appearance: none;
  outline: none;
  border: 2px solid rgb(102, 93, 93);
  min-width: 50px;
  max-width: 100px;
  font-family: Roboto, sans-serif;
  &:disabled{
    background: rgb(196, 193, 193);
  }
}