.input {
  display: flex;
  position: relative;
  margin: 0.3125rem;

  &__title {
    width: 100%;
    min-width: 70px;
    max-width: 120px;
    background: rgb(102, 93, 93);
    color: rgb(245, 247, 222);
    font-family: Roboto, sans-serif;
    padding: 0.3125rem;
  }

  &__field {
    -webkit-appearance: none;
    border: 0.125rem solid rgb(102, 93, 93);
    width: 100%;
    min-width: 3.125rem;
    max-width: 6.25rem;
    font-family: Roboto, sans-serif;
    padding: 0.3125rem;

    &:disabled {
      background: rgb(196, 193, 193);
    }
  }
}
