include ./components/toggle/toggle 
include ./components/input/input

mixin config-panel(color)
  .config-panel__container
    .config-panel__inputs
      +input('min', 'js-config-panel__min')
      +input('max', 'js-config-panel__max')
      +input('step', 'js-config-panel__step')
      +input('from', 'js-config-panel__from range-slider__input_from')
      +input('to', 'js-config-panel__to range-slider__input_to')
    
    .config-panel__toggles
      +toggle('vertical', 'js-config-panel__vertical', color)
      +toggle('double', 'js-config-panel__double', color)
      +toggle('scale', 'js-config-panel__scale', color)
      +toggle('progress', 'js-config-panel__progress', color)
      +toggle('satellite', 'js-config-panel__satellite', color)