include ./components/toggle/toggle 
include ./components/input/input

mixin config-panel 
  .config-panel__container
    .config-panel__inputs
      +input('min', 'js-config-panel__min')
      +input('max', 'js-config-panel__max')
      +input('step', 'js-config-panel__step')
      +input('from', 'js-config-panel__from')
      +input('to', 'js-config-panel__to')
    
    .config-panel__toggles
      +toggle('vertical', 'js-config-panel__orientation')
      +toggle('double', 'js-config-panel__thumbType')
      +toggle('scale', 'js-config-panel__scale')
      +toggle('progress', 'js-config-panel__progress')
      +toggle('satellite', 'js-config-panel__satellite')

    //- label(class = 'config-panel__min_container')
    //-   input.config-panel__min
    //- input.config-panel__max
    //- input.config-panel__step
    //- input.config-panel__from
    //- input.config-panel__to


    //- input(type = 'checkbox', class = 'config-panel__orientation')
    //- input(type = 'checkbox', class = 'config-panel__thumbType')
    //- input(type = 'checkbox', class = 'config-panel__thumbType')
    //- input(type = 'checkbox', class = 'config-panel__scale')
    //- input(type = 'checkbox', class = 'config-panel__satellite')