include ./config-panel/config-panel
include ./../favicons/favicons

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="keywords" content="slider, plugin")
    meta(name="description" content="DwSlider is a plugin for picking numbers")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DwSlider
    +favicons
  body
    .dw-slider1.js-dw-slider1(data-min = "10", data-max = "100", data-from = "900", data-to = "-10", data-step = "-1", data-vertical = "false", data-double = "true", data-tip = "true", data-scale = "true", data-scale-size = "2", data-progress = "true")
      +config-panel
    .dw-slider2.js-dw-slider2
      +config-panel
    .dw-slider3.js-dw-slider3
      +config-panel
    .dw-slider4.js-dw-slider4
      +config-panel
