include ./config-panel/config-panel
include ./../favicons/favicons
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="keywords" content="slider, plugin")
    meta(name="description" content="dwSlider is a plugin for picking numbers")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title dwSlider
    +favicons
  body
    .js-slider1
      +config-panel
    .js-slider2
      +config-panel
    .js-slider3
      +config-panel
    .js-slider4
      +config-panel

    