
.dw-slider1{
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 3.125rem 0;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}


.dw-slider2 {
  display: flex;
  justify-content: start;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

.dw-slider3 {
  display: flex;
  justify-content: start;
  margin: 3.125rem 0;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
} 

.dw-slider4 {
  display: flex;
  justify-content: start;
  margin: 3.125rem 0;
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
  }
}

