
.js-slider1{
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 50px 0;
}


.js-slider2 {
  display: flex;
  justify-content: start;
}

.js-slider3 {
  display: flex;
  justify-content: start;
  margin: 50px 0;
} 

.js-slider4 {
  display: flex;
  justify-content: start;
  margin: 50px 0;
}

