include ./config-panel/config-panel.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Range Slider
    
  body
    .js-slider1
      +config-panel
    .js-slider2
      +config-panel
    .js-slider3
      +config-panel
    .js-slider4
      +config-panel

    