include ./config-panel/config-panel.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Range Slider
    
  body
    .container
      .js-slider1
      +config-panel
    .js-slider2
    .js-slider3
    .js-slider4

    