<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Range Slider
  body
    .js-slider1
    .js-slider2
    .js-slider3
    .js-slider4
    .js-slider5
    .js-slider6
    .js-slider7

    